body{
    margin: 0;
    padding: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.display{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 400px;
    height: 200px;
}

.firstLine, .secondLine{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
}

.secondLine{
    margin-left: 100px;
}

.keyboard{
    display: flex;
    border: 3px solid black;
}

.rightSide{
    display: flex;
    flex-direction: column;
}
.grpMM, .grp96A, .grp3PE, .grpD741D852{
    display: flex;
}

.line96, .line3P, .leftSide, .lineD741, .lineD852{
    display: flex;
    flex-direction: column;
}

.zero{
    width: 200px;
}

.equal, .aDD{
    height: 200px;
}

.bot{
    border: 3px solid black;
}

.resetCalculator{
    width: 400px;
}

button{
    height: 100px;
    width: 100px;
}